.container__big-card {
  margin: 0 20px;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.big-card__title > h1 {
  margin: 20px 0;
  font-size: 20px;
}

.big-card__description > p > a {
  color: gray;
}

.big-card__photo > img {
  width: 100%;
  min-width: 400px;

}
