.container__small-card {
  width: 700px;
  margin-bottom: 15px;
}

.container__small-card-content {
  display: flex;
  gap: 20px;
}

.small-card__photo > img{
  width: 200px;
  min-width: 200px;
  min-width: 200px;
}

.small-card__title {
  display: flex;
  align-content: center;
  align-items: center;
}

.container__small-card__separator {
  margin-top: 15px;
}
